html,
body {
  height: 100%;
}

/* Fondo general para la página */
.fondito {
  background-color: #3f352c;
}

/* Fondos para las cajas de texto */
#floatingInput,
#floatingPassword,
#flexCheckDefault {
  background-color: #00000091;
}

/* Estilos para la cajita con las credenciales default */
.credenciales {
  border-radius: 5px;
  font-family: 'Courier New', Courier, bold;
  color: whitesmoke;
  background-color: #00000091;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}